h1 {
    text-align: center;
    color: white
}

p {
    text-align: justify;
}

.keretezett {
    width: 33%;
    margin: 0 33%;
    border: 1px solid black
}

p, h2 {
    padding: 0 8px;
}
div{
    width: 670px;
    background-color: white;
    margin: 0 auto;

}
a{
    color: white;
    font-weight: bold;

}
body{
    background-color: #999;
    color: black;
}
.fejléc{
    width: 100%;

}
table{
    width: 650px;
    margin: 0 auto;
}
td{
    background-color: green;
    height: 60px;
    text-align: center;

}
